In [1]:
import numpy as np
import pandas as pd

# Apriori

In [4]:
dataset = pd.read_csv('D:\college\MachineLearningTraining\Retail_Data.csv')

In [5]:
dataset.head(10)

   Trans_ID Product1   Product2 Product3
0         1    Bread     Butter    Dairy
1         2   Nachos     Butter    Dairy
2         3    Juice        Jam      Egg
3         4    Juice        Jam      Egg
4         5    Juice  Vegetable    Salad
5         6    Bread     Butter      Egg
6         7   Nachos      Salsa    Dairy
7         8    Bread        Jam      Egg
8         9    Juice        Jam      Egg
9        10   Fruits  Vegetable    Salad

In [6]:
dataset.isnull().sum()

Trans_ID    0
Product1    0
Product2    0
Product3    0
dtype: int64

In [7]:
X = pd.get_dummies(dataset[['Product1','Product2','Product3']])

In [8]:
X.head()

,Product1_Bread,Product1_Fruits,Product1_Juice,Product1_Nachos,Product2_Butter,Product2_Jam,Product2_Salsa,Product2_Vegetable,Product3_Dairy,Product3_Egg,Product3_Salad
0,1,0,0,0,1,0,0,0,1,0,0
1,0,0,0,1,1,0,0,0,1,0,0
2,0,0,1,0,0,1,0,0,0,1,0
3,0,0,1,0,0,1,0,0,0,1,0
4,0,0,1,0,0,0,0,1,0,0,1

In [26]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset[['Product1', 'Product2', 'Product3']].values.tolist()).transform(dataset[['Product1', 'Product2', 'Product3']].values.tolist())
df = pd.DataFrame(te_ary, columns=te.columns_)

In [17]:
df.head()

,1,2,3,D,I,P,T,_,a,c,d,n,o,r,s,t,u
0,False,False,False,True,True,False,True,True,True,False,False,True,False,True,True,False,False
1,True,False,False,False,False,True,False,False,False,True,True,False,True,True,False,True,True
2,False,True,False,False,False,True,False,False,False,True,True,False,True,True,False,True,True
3,False,False,True,False,False,True,False,False,False,True,True,False,True,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
from mlxtend.frequent_patterns import apriori

apriori(X, min_support=0.2, use_colnames =True)

    support                                      itemsets
0    0.3510                              (Product1_Bread)
1    0.2465                              (Product1_Juice)
2    0.2200                             (Product1_Nachos)
3    0.2465                             (Product2_Butter)
4    0.3410                                (Product2_Jam)
5    0.2160                          (Product2_Vegetable)
6    0.2030                              (Product3_Dairy)
7    0.5760                                (Product3_Egg)
8    0.2210                              (Product3_Salad)
9    0.2145             (Product1_Bread, Product2_Butter)
10   0.2505                (Product1_Bread, Product3_Egg)
11   0.2010                (Product2_Jam, Product1_Juice)
12   0.2080                (Product3_Egg, Product1_Juice)
13   0.2570                  (Product2_Jam, Product3_Egg)
14   0.2090          (Product2_Vegetable, Product3_Salad)
15   0.2010  (Product2_Jam, Product3_Egg, Product1_Juice)

# K- means Clustering

In [29]:
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt

In [30]:
k_means = KMeans(n_clusters=10).fit(X)

In [31]:
k_means.cluster_centers_

array([[ 7.77156117e-16,  4.16333634e-16,  9.15933995e-16,
         1.00000000e+00,  9.15933995e-16,  6.66133815e-16,
         1.00000000e+00, -6.66133815e-16, -6.66133815e-16,
         1.00000000e+00,  1.30451205e-15],
       [ 8.32667268e-16,  2.22044605e-16,  1.00000000e+00,
         8.60422844e-16,  1.60982339e-15,  9.66346154e-01,
        -3.05311332e-16,  3.36538462e-02, -1.63757896e-15,
         1.00000000e+00,  8.32667268e-17],
       [ 8.32667268e-16,  1.00000000e+00,  1.49880108e-15,
         8.32667268e-16,  1.49880108e-15,  6.57534247e-02,
        -3.05311332e-16,  9.34246575e-01, -1.47104551e-15,
         4.32986980e-15,  1.00000000e+00],
       [ 1.00000000e+00,  5.55111512e-16,  1.55431223e-15,
         8.32667268e-16,  1.00000000e+00,  2.27595720e-15,
        -3.05311332e-16,  8.60422844e-16, -1.55431223e-15,
         1.00000000e+00,  3.33066907e-16],
       [ 1.00000000e+00, -2.77555756e-16,  1.94289029e-16,
         4.71844785e-16,  1.94289029e-16,  8.94409938e-01,
         1.05590062e-01, -4.71844785e-16,  1.00000000e+00,
         1.66533454e-15,  3.05311332e-16],
       [ 7.21644966e-16, -1.66533454e-16, -1.11022302e-16,
         1.00000000e+00, -1.11022302e-16, -6.10622664e-16,
         1.00000000e+00, -3.88578059e-16,  1.00000000e+00,
         9.99200722e-16, -5.55111512e-17],
       [ 6.10622664e-16,  3.05311332e-16,  1.00000000e+00,
        -1.94289029e-16,  1.11022302e-16, -2.22044605e-16,
        -2.22044605e-16,  1.00000000e+00,  2.49800181e-16,
        -3.33066907e-16,  1.00000000e+00],
       [ 1.00000000e+00,  5.55111512e-17, -2.49800181e-16,
         2.22044605e-16, -2.49800181e-16,  1.00000000e+00,
        -2.49800181e-16, -1.94289029e-16,  3.60822483e-16,
         1.00000000e+00, -5.55111512e-17],
       [ 1.00000000e+00, -8.32667268e-17,  5.55111512e-17,
         2.77555756e-17,  1.00000000e+00,  2.22044605e-16,
        -1.38777878e-16, -1.11022302e-16,  1.00000000e+00,
        -3.33066907e-16, -2.77555756e-17],
       [ 5.55111512e-16,  1.94289029e-16,  3.05311332e-16,
         1.00000000e+00,  1.00000000e+00, -5.55111512e-17,
        -1.94289029e-16,  1.94289029e-16,  1.00000000e+00,
        -3.33066907e-16, -5.55111512e-17]])

In [32]:
k_means.labels_

array([8, 9, 1, ..., 1, 1, 4])

In [35]:
X['clusters'] = k_means.labels_

In [36]:
X.query('clusters==1')

,Product1_Bread,Product1_Fruits,Product1_Juice,Product1_Nachos,Product2_Butter,Product2_Jam,Product2_Salsa,Product2_Vegetable,Product3_Dairy,Product3_Egg,Product3_Salad,clusters
2,0,0,1,0,0,1,0,0,0,1,0,1
3,0,0,1,0,0,1,0,0,0,1,0,1
8,0,0,1,0,0,1,0,0,0,1,0,1
13,0,0,1,0,0,1,0,0,0,1,0,1
14,0,0,1,0,0,1,0,0,0,1,0,1
20,0,0,1,0,0,1,0,0,0,1,0,1
23,0,0,1,0,0,1,0,0,0,1,0,1
24,0,0,1,0,0,1,0,0,0,1,0,1
26,0,0,1,0,0,1,0,0,0,1,0,1
29,0,0,1,0,0,1,0,0,0,1,0,1
31,0,0,1,0,0,1,0,0,0,1,0,1
38,0,0,1,0,0,1,0,0,0,1,0,1
45,0,0,1,0,0,1,0,0,0,1,0,1
46,0,0,1,0,0,1,0,0,0,1,0,1
55,0,0,1,0,0,1,0,0,0,1,0,1
68,0,0,1,0,0,0,0,1,0,1,0,1
75,0,0,1,0,0,1,0,0,0,1,0,1
77,0,0,1,0,0,1,0,0,0,1,0,1
84,0,0,1,0,0,1,0,0,0,1,0,1
87,0,0,1,0,0,1,0,0,0,1,0,1
90,0,0,1,0,0,1,0,0,0,1,0,1
97,0,0,1,0,0,1,0,0,0,1,0,1
99,0,0,1,0,0,1,0,0,0,1,0,1
105,0,0,1,0,0,1,0,0,0,1,0,1
107,0,0,1,0,0,1,0,0,0,1,0,1
111,0,0,1,0,0,1,0,0,0,1,0,1
112,0,0,1,0,0,1,0,0,0,1,0,1
113,0,0,1,0,0,1,0,0,0,1,0,1
114,0,0,1,0,0,1,0,0,0,1,0,1
116,0,0,1,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1875,0,0,1,0,0,1,0,0,0,1,0,1
1883,0,0,1,0,0,1,0,0,0,1,0,1
1886,0,0,1,0,0,1,0,0,0,1,0,1
1896,0,0,1,0,0,1,0,0,0,1,0,1
1901,0,0,1,0,0,1,0,0,0,1,0,1
1906,0,0,1,0,0,1,0,0,0,1,0,1
1912,0,0,1,0,0,1,0,0,0,1,0,1
1913,0,0,1,0,0,1,0,0,0,1,0,1
1916,0,0,1,0,0,1,0,0,0,1,0,1
1922,0,0,1,0,0,1,0,0,0,1,0,1
1926,0,0,1,0,0,1,0,0,0,1,0,1
1933,0,0,1,0,0,1,0,0,0,1,0,1
1944,0,0,1,0,0,1,0,0,0,1,0,1
1948,0,0,1,0,0,1,0,0,0,1,0,1
1949,0,0,1,0,0,1,0,0,0,1,0,1
1950,0,0,1,0,0,1,0,0,0,1,0,1
1956,0,0,1,0,0,1,0,0,0,1,0,1
1964,0,0,1,0,0,1,0,0,0,1,0,1
1968,0,0,1,0,0,1,0,0,0,1,0,1
1971,0,0,1,0,0,1,0,0,0,1,0,1
1975,0,0,1,0,0,1,0,0,0,1,0,1
1978,0,0,1,0,0,1,0,0,0,1,0,1
1981,0,0,1,0,0,1,0,0,0,1,0,1
1982,0,0,1,0,0,1,0,0,0,1,0,1
1983,0,0,1,0,0,1,0,0,0,1,0,1
1984,0,0,1,0,0,0,0,1,0,1,0,1
1985,0,0,1,0,0,1,0,0,0,1,0,1
1996,0,0,1,0,0,1,0,0,0,1,0,1
1997,0,0,1,0,0,1,0,0,0,1,0,1
1998,0,0,1,0,0,1,0,0,0,1,0,1